dlib==19.9.0
numpy
opencv-python
matplotlib
opencv-python
imutils
requests
scikit-learn
torch



fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sqlalchemy
pymysql
mysqlclient
pytest
requests
