numpy
matplotlib
imutils
sklearn
opencv-python
torch
dlib
loguru
tensorflow
mtcnn

fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sqlalchemy
pymysql
mysqlclient
pytest
requests

numpy
opencv-python