dlib==19.9.0
torch==1.10.0
numpy
opencv-python
matplotlib
imutils
requests
scikit-learn




fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sqlalchemy
pymysql
mysqlclient
pytest
requests
